.form {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 0 10px;
}


/* Labels */
.form>div label {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 0 5px 0;
}

.form>div label p:nth-child(2) {
    color: var(--danger);
}

/* Inputs */
.form>div input,
.form>div textarea {
    width: 100vw;
    max-width: 350px;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;
}

.form>div input::placeholder,
.form>div textarea::placeholder {
    opacity: .5;
}

.form>div input {
    height: 40px;
    padding: 0 0 0 5px;
}

.form>div textarea {
    height: 150px;
    resize: none;
    padding: 10px 0 0 5px;
}

/* submit button */
.form>button {
    width: 100%;
    height: 50px;
    background-color: var(--btn-back-clr);
    color: var(--white);
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: inherit;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 5px;
    cursor: pointer;
    transition: .25s;
}

.form>button:hover {
    background-color: transparent;
    border-color: var(--btn-back-clr);
    color: var(--btn-back-clr);
}

/* Messages */
.form .errMsg {
    color: var(--white);
    background-color: var(--danger);
    font-weight: 600;
    padding: 10px;
    position: absolute;
    top: 0;
}


.form .successMsg {
    color: var(--white);
    background-color: var(--success);
    font-weight: 600;
    padding: 10px;
    position: absolute;
    top: 0;
}

/* *********************** */
/* *********************** */
/* *********************** */
/* Classes added using Javascript */
.form>div .InputError {
    border-color: var(--danger);
}